* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.navigation-bar {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-self: center;
  justify-content: baseline;
  background-color: black;
  color: aliceblue;
  width: 100%;
  height: 5rem;
  align-items: center;
}

body {
background-color: #fab22e;
}
.container {
  height: 26.5rem;
  width: 70vmin;
  border-radius: 12px;
  background-color: #15161a;
  position: absolute;
  margin-left: 13rem;
  margin-top: 1rem;
  box-shadow: 20px 20px 40px rgba(97, 63, 0, 0, 4);
  padding: 50px 40px;
}
span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 100px;
}
p {
  font: 16px;
  color: white;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  line-height: 35px;
  margin: 30px 0;
  opacity: 0;
}
.fade{
  opacity: 1;
  transition:opacity 1.5s ;
}
button {
  display: block;
  background-color: #fab22e;
  border: none;
  padding: 5px;
  font-size: 18px;
  color: #171721;
  font-weight: 600;
  padding: 12px 12px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
}
footer
{
  background-color: #15161a;
  height: 32vh;
  margin-top: 28rem;
  position: inherit;
}

/* MEDIA QUERIES */
@media (max-width: 1100px) {
  .navigation-bar {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-self: center;
    justify-content: baseline;
    background-color:black;
    width: 100%;
    height: 5rem;
    align-items: center;
  }
  body {
   background-color: #fab22e;
  }
  .container {
    height: 30rem;
    width: 70vmin;
    border-radius: 12px;
    background-color: #15161a;
    position: relative;
    margin-left: 5rem;
    margin-top: 10rem;
    box-shadow: 20px 20px 40px rgba(97, 63, 0, 0, 4);
    padding: 50px 40px;
  }
  footer
{
  background-color: #15161a;
  margin-top: 10rem;
  height: 50vh;
  margin-bottom: 0;
}
}